:root {
  /* Colors */
  --color-bg-main: #faf9f7;
  --color-bg-card: #ffffff;
  --color-bg-dark: #1c1c1c;

  --color-gold: #c6a15b;
  --color-gold-soft: #e7d3a1;
  --color-light: #eeebe880;

  --color-text-main: #1f1f1f;
  --color-text-muted: #777777;
  --color-text-light: #cccccc;

  /* Fonts */
  --font-heading: 'Playfair Display', serif;
  --font-body: 'Inter', sans-serif;

  /* UI */
  --radius-sm: 6px;
  --radius-md: 12px;
  --transition: all 0.3s ease;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: var(--font-heading);
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  font-family: var(--font-heading);
}
.text-gold {
  color: var(--color-gold);
}
.vh-25 {
  min-height: 25vh !important;
  height: 25vh;
}

/* =====================================================
   background utilities
===================================================== */
.bg-light-gray {
  background-color: var(--color-light);
}
.overlaybottomTop {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
/* =====================================================
   BUTTONS
===================================================== */
.btn {
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  border-radius: 0;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.btn-dark {
  background: var(--color-bg-dark);
  border: none;
}

.btn-dark:hover {
  background: var(--color-gold);
  color: #000;
}

.btn-outline-dark:hover {
  background: var(--color-bg-dark);
  color: #fff;
}

/* =====================================================*/
.tags {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.5px;
  display: block;
  margin: 1rem 0 0.5rem;
}
